.page-component {
  max-width: 600px;
  margin: 10px auto 0;
}

.page-title {
  margin-bottom: 20px;
  color: deepskyblue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.alert {
  display: table;
  text-align: center;
  margin: 10px auto;
}
